{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{{ wtf.quick_form(form) }}
<div class="row">
     
       <div class="col-md-4">
           <div class=well style="background-color:black;
           color: white">
        
       <em><a href="/details/{{blog.id}}">{{blog.blog}}</a> <h2>{{blog.blog}}</em> </h2>
        <em><h2>{{blog.submitted_by}}</h2></em>
        <em><h2>{{blog.posted.strftime("%Y-%m-%d")}}</h2></em>
   
    </div>
</div>
{% for review in reviews %}

    {{review.}}
{%  endfor %}

   </div>
{% endblock %}
            